package templates

templ Products(search string) {
    <div>
        <h1>Products</h1>
        <ul>
        <li>{search}</li>
        <li>Product 2</li>
        <li>Product 3</li>
        </ul>
    </div>
}
